.dev{
  border-spacing: 310px;
  border-collapse: separate;
}
.new{
  border-spacing: 98px;
  border-collapse: separate;
  align-items: center;
}
.panel h1{
  text-align: center;
}
.panel h6{
  text-align: center;
}